@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300');
body {
    background: #F7FCF8;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
strong {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: #576F6F;
    padding-bottom: 10px;
    border-bottom: 1px solid #C8D8D7;
}

h2 {
    color: #576F6F;
}

a {
    text-decoration: none;
    color: #930;
}

h2>a,
h2>a:hover {
    color: #576F6F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #F28858;
}

#contenedor,
.contenedor {
    max-width: 70%;
    margin: 50px auto;
}

#navegacion,
#cabecera {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#navegacion acronym {
    text-decoration: none;
}

#navegacion ul {
    list-style: none;
    padding: 0;
}

#navegacion li {
    float: left;
    height: 16px;
    line-height: 16px;
    position: relative;
    margin-left: 5px;
    padding-right: 10px;
    background: url(../img/miga.gif) no-repeat right center;
}

#navegacion li:first-child {
    margin-left: 0px;
}

#navegacion li:last-child {
    background: none;
    padding-right: 0;
}

#navegacion li.activo {
    font-family: 'Roboto Condensed', sans-serif;
    color: #576F6F;
}

.caja-ejercicio,
#resultado-js {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #C8D8D7;
    list-style: none;
    position: relative;
    margin: 20px 0;
    clear: both;
}

.caja-ejercicio ul {
    padding-left: 16px;
}

.caja-ejercicio ul li {
    margin-bottom: 10px;
}

#pie {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #C8D8D7;
    text-align: center;
}

#pie ul {
    list-style: none;
    padding: 0;
}

#pie ul li {
    float: left;
    margin-right: 10px;
    border-right: 1px solid #C8D8D7;
    padding-right: 10px;
}

noscript {
    padding: 5px;
    background: #E7552C;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

code {
    display: block;
    background-color: #F4F8F7;
    padding: 10px;
    margin: 5px 0;
    border-left: 4px solid #9DE234;
}

.mostrarCode {
    display: block;
    background-color: #F4F8F7;
    padding: 10px;
    margin: 5px 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 4px solid #9DE234;
    width: 100%;
}

.intro {
    clear: both;
    font-weight: bold;
}