body {
    font: .8em/1.4 Arial, Helvetica, sans-serif;
    color: #000;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

img {
    border: none;
}

#contenedor {
    width: 90%;
    max-width: 900px;
    width: expression(document.body.clientWidth> 901? "900px": "auto");
    margin: 0 auto;
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
    border: 2px solid #777;
    padding: .4em;
    border: none;
}

#cabecera {
    padding: 1em;
    clear: both;
}

#menu {
    margin-bottom: .5em;
    border-bottom: 1px solid #004C99;
    background: url(../img/fondo_menu.gif) repeat-x;
    clear: both;
}

#lateral {
    float: left;
    width: 20%;
    padding: 0;
    font-size: .9em;
}

#contenido {
    width: 77%;
    padding: 0;
    float: right;
}

#contenido #principal {
    width: 75%;
    float: left;
}

#contenido #secundario {
    float: right;
    width: 20%;
    border: 1px solid #C60;
}

#pie {
    clear: both;
}

#cabecera #logo {
    float: left;
}

#cabecera #buscador {
    float: right;
}

#cabecera h1 {
    width: 500px;
    background: url(../img/logo.gif) no-repeat -5px -10px;
}

#cabecera h1 span {
    visibility: hidden;
}

#menu ul#menu_principal li {
    display: inline;
    float: left;
}

#contenido #principal .articulo img {
    width: 100px;
    float: left;
}

#pie .enlaces {
    float: left;
}

#pie .copyright {
    float: right;
}

#lateral {
    padding: 0;
}

#cabecera {
    padding: 1em;
}

#menu {
    margin-bottom: .5em;
    border-bottom: 1px solid #004C99;
}

#menu li {
    font-size: 1.2em;
}

#menu li a {
    color: #FFF;
}

#contenido {
    width: 77%;
    padding: 0;
}

#contenido #principal {
    width: 73%;
}

#contenido #secundario {
    border: 1px solid #C60;
}

#contenido #secundario h2 {
    background: #DB905C;
    padding: .2em;
    font-size: 1em;
    color: #FFF;
}

#pie {
    padding: .5em 0;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    background: #F8F8F8;
    color: #555;
    font-size: .75em;
}

#contenido #principal .articulo {
    margin-bottom: 1em;
}

#contenido #principal .articulo h2 {
    color: #C60;
    font-size: 1.4em;
    line-height: 1.1;
    margin-bottom: .3em;
}

#contenido #principal .articulo img {
    margin: .4em;
}

#lateral #noticias {
    border: 1px solid #C5C5C5;
    background: #F8F8F8;
    padding: 0.4em;
}

#lateral #noticias h3 {
    color: #036;
}

#lateral #noticias span.fecha {
    display: block;
    color: #999;
}

#lateral #publicidad {
    margin-top: 1em;
    border: 1px dashed #C60;
    background: #FFF6CD;
    padding: 0.4em;
}
