{% extends "principal.html.twig" %}

{% block titulo %}Citas. Atencion{% endblock %}

{% block tituloCab %}Consultas de pacientes{% endblock %}

{% block contenido %}
    <form action="" method="post">
    	<article class="selector">  
            <div class="medico">Doctor/a: 
                <span class="nombre">{{ medico.nombre }} {{ medico.ape1 }} {{ medico.ape2 }}</span>
            </div>
			<label for="fecha" class="citas">Fecha: </label>
			<select id="fecha" name="fechaSel" onchange="this.form.submit()">
    			{% for fecha in medico.fechasCitas %} 
                	<option value="{{ fecha }}" {{ (fecha == fechaSel) ? 'selected' : ' ' }} />
                    	  {{ fecha|date("d/m/Y") }}
                 	</option>
            	{% endfor %}
            </select>
        </article>
        <table>
			<tr><th>Paciente</th><th>Dia</th><th>Hora</th></tr>
			{% set anotada=false %}
			{% for cita in citas if not anotada %}
	   	   		{% for key,value in atendidas %}
					{% if (value.paciente==cita.nifPaciente) and (value.fecha==cita.fecha) %}
               			{% set anotada=true %}
					{% endif %}
				{% endfor %}
		   	   {% if anotada %}
	   	   				<tr class="atendida"><td><a class="inactivo" href="anotar-cita.php?paciente={{ cita.nifPaciente }}&fecha={{ cita.fecha}}">{{ cita.nombre }} {{ cita.ape1 }} {{ cita.ape2 }}</a></td>
			   	   		<td class="hora">{{ cita.fecha|date("d/m/Y") }}</td>
                 		<td class="hora">{{ cita.fecha|date("H:i") }}</td></tr>
		   	   			{% else %}
						<tr><td><a href="anotar-cita.php?paciente={{ cita.nifPaciente }}&fecha={{ cita.fecha}}">{{ cita.nombre }} {{ cita.ape1 }} {{ cita.ape2 }}</a></td>
			   	   		<td class="hora">{{ cita.fecha|date("d/m/Y") }}</td>
                 		<td class="hora">{{ cita.fecha|date("H:i") }}</td></tr>
			   {% endif %}
				   
			{% set anotada=false %}
			{% endfor %}
		</table>
        <a class="boton" href="cerrar.php">Cerrar</a>
    </form>
{% endblock %}
