<!DOCTYPE HTML>
<html>
   <head>
      {% block head %}
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <link rel="stylesheet" type="text/css" href="estilo/estilo.css" />
          <title>{% block titulo %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body>
        <header>
           <img src="imagenes/clinica_fleming.png" id="logo"/>    
           <div id="titulo">{% block tituloCab %}{% endblock %}</div>
        </header>
        <article>{% block contenido %}{% endblock %}</article>
   </body>
</html>