body {
    margin: 50px;
    background: url(img/bg.gif) repeat;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 0.7em;
    color:#4F393C;
}

a{
	color: #FB573B;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#contenedor {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid grey;
}

#cabecera{
	position: relative;
}

#cabecera span{
	display: none;
}

#logo{
	width: 150px;
	float: left;
}

#logo a.img-logo{
	background: url(img/logo.gif)no-repeat top center;
	display: block;
	width: 150px;
	height: 120px;
}

#img-cabecera{
	width: 550px;
	float: left;
}

#buscador{
	width: 144px;
	float: left;
	clear: left;
	padding: 5px 2px 0 2px;
}
#nav-superior{
	float: left;
}

#contenedor-principal{
	clear: left;
	margin-top: 10px;
	padding: 2px;
}

#lateral{
	float: left;
	width: 148px;
}

#lateral ul{
	padding-left: 20px;
}

.modulo{
	border: 1px solid #9CD0AC;
	margin-bottom:20px;
}

.modulo p{
	padding: 0 5px;
}

.modulo h1{
	background-color: #8EA88D;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	padding: 5px;
	margin: 0;
}

#centro{
	float: right;
	width: 520px;
	padding-right: 5px;
}

#pie {
	clear: both;
}
