<!DOCTYPE HTML>
<html>

<head lang="es">
	<meta charset="utf-8">
	<title>Consulta de notas</title>
	<link rel="stylesheet" type="text/css" href="estilo.css" /> </head>

<body>
	<header> <img src="imagenes/logo_fleming.jpg" id="logo" />
		<div id="daw">Desenvolvimientu d'aplicaciones web</div>
	</header>
	<h1>Consulta de notes</h1>
	<div id="central">
		<form action="" method="post">
			<div class="linea">
				<label>NIF:</label>
				<input type="text" class="valor" name="nif" value="{{nif}}" />
				<label>Módulo:</label>
				<select name="modulo"> {% for key,value in listaModulos %}
					<option value="{{key}}" {% if modulo==key %}selected {% endif %}>{{value}}</option> {% endfor %} </select>
			</div>
			<input class="boton" type="submit" value="Consultar" /> </form>
		<div class="linea">
			<div class="error"> {{error}} </div>
			<div class="resultado"> {% if resultado is not null and resultado is not empty %}
				<table>
					<tr>
						<th>Nota</th>
						<th>Fecha nota</th>
					</tr> {% for key,value in resultado %}
					<tr>
						<td>{{value.NOTA}}</td>
						<td>{{value.FECHA}}</td>
					</tr> {% endfor %} </table>{% endif %} </div>
		</div>
	</div>
</body>

</html>