<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedir citas</title>
</head>
<body>
<form action="nueva-cita.php" method="post">
    <select name="medico">
        {% set contador=0 %}
        {% set espe="" %}
        {% for medico in listaMedicos %}
            {% if contador==0 %}
                <optgroup label="{{medico.especialidad}}">
            {% endif %}
                    {% if espe!=medico.especialidad and contador>0 %}
                </optgroup>
                    <optgroup label="{{medico.especialidad}}">
                        {% endif %}
            <option name="medico" value="{{medico.nif}}">{{medico.nombre}} {{medico.ape1}} {{medico.ape2}}</option>
                    {% set espe=medico.especialidad %}
                    {% set contador=contador+1 %}
        {% endfor %}
    </select>
    <input type="submit" value="nueva cita">
</form>
</body>
</html>