<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva cita con {{ medico.nombre }}</title></head>
<body>
    <form action="grabar-cita.php" method="post">
        <fieldset>
            <legend>Datos del médico</legend>
            <input type="text" name="nombremedico" value="{{medico.nombre}}" contenteditable="false">
            <input type="text" name="ape1medico" value="{{medico.ape1}}" contenteditable="false">
            <input type="text" name="ape2medico" value="{{medico.ape2}}" contenteditable="false">
            <input type="text" name="nifmedico" value="{{medico.nif}}" contenteditable="false">
            <input type="text" name="especialidadmedico" value="{{medico.especialidad}}" contenteditable="false">
        </fieldset>

        <fieldset>
            <legend>Datos del paciente</legend>
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="ape1" placeholder="apellido 1">
        <input type="text" name="ape2" placeholder="apellido 2">
        <input type="text" name="nifpaciente" placeholder="NIF paciente">
        <input type="text" name="fecha" placeholder="23/02/1977">
        <input type="text" name="hora" placeholder="23:00">
        </fieldset>
        <input type="submit" value="Grabar">
    </form>

</body>
</html>