<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver citas</title>
</head>
<body>
<h1>Citas disponibles</h1>
<ul>
    {% for cita in citas %}
        <li>{{cita.nombrePaciente}} {{cita.ape1Paciente}} {{cita.ape2Paciente}} <a href="eliminar-cita.php?medico={{cita.nifMedico}}&paciente={{cita.nifPaciente}}&fecha={{cita.getFechaString}}">borrar cita</a></li>
    {% endfor %}

</ul>
</body>
</html>