<!DOCTYPE HTML>
<html>

<head>
	<title>Consulta de notas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel="stylesheet" type="text/css" href="../estilo.css" /> </head>

<body>
	<header> <img src="../logo_fleming.jpg" id="logo" />
		<div id="daw">Desenvolvimientu d'aplicaciones web</div>
	</header>
	<h1>Consulta de notes</h1>
	<div id="central">
		<form action="" method="post">
			<div class="linea">
				<label>NIF:</label>
				<input type="text" class="valor" name="nif" value="{{nif}}" />
				<label>Asignatura:</label>
				<select name="asignatura"> {% for key,value in listaAsignaturas %}
					<option value="{{key}}">{{value}}</option> {% endfor %} </select>
			</div>
			<input class="boton" type="submit" value="Consultar" /> </form>
		<div class="linea">
			<div class="error"> {{error}} </div>
			<div class="resultado"> {{resultado}} </div>
		</div>
	</div>
</body>

</html>