@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300');

body{
background: #F4F8F7;
font-family: 'Roboto', sans-serif;
}

h1,h2,h3,strong{
	font-family: 'Roboto Condensed', sans-serif;
}

h1{
	color: #576F6F;
	padding-bottom: 10px;
	border-bottom:1px solid #C8D8D7;
}

h2{
	color:#576F6F;
}

 a{
 text-decoration:none;
 color:#E7552C;
 }

 h2>a,h2>a:hover{
 	color:#576F6F;
 	text-decoration:none;
 }
 
  a:hover{
 text-decoration:underline;
 color:#F28858;
 }

 #contenedor{
	max-width: 70%;
	margin:50px auto;
}

#navegacion{
	max-width: 800px;
	margin:0 auto;
	padding-bottom: 10px;
}
#navegacion acronym{
	text-decoration: none;
}

#navegacion ul {
    list-style: none;
    padding: 0;
}

#navegacion li {
    float: left;
    height: 16px;
    line-height: 16px;
    position: relative;
    margin-left: 5px;
    padding-right: 10px;
    background: url(../img/miga.png) no-repeat right center;
}

#navegacion li:first-child{
    margin-left: 0px;
}

#navegacion li:last-child{
    background: none;
    padding-right: 0;
}

#navegacion li.activo{
	font-family: 'Roboto Condensed', sans-serif;
	color: #576F6F;
}

 .caja-ejercicio{
 	padding: 10px;
 	background-color: #fff;
 	border:1px solid #C8D8D7;
 	list-style: none;
 	position: relative;
 	margin:20px 0;
 	clear: both;
 }

 .caja-ejercicio ul{
 	padding-left: 16px;
 }

 .caja-ejercicio ul li{
 	margin-bottom: 10px;
 }

 noscript{
 	padding: 5px;
 	background: #E7552C;
 	color: white;
 	font-family: 'Roboto Condensed', sans-serif;
 }


 

