@CHARSET "UTF-8";
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #000;
	width: 800px;
	margin: 0 auto;
}
header {
	height:  70px;
	padding: 0 10px;
	border: 1px solid #04569F;
	margin: 10px 0;
	border-radius: 10px
}
#logo {
	height: 70px;
	display: block;
	float: left;
}
#titulo{
	display: block;
	float: right;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	color: #04569F;
	margin:30px;
	margin-right: 250px;
}
form{
	min-height: 120px;
	width: 600px;
	border: 1px solid #04569F;
	margin: 10px auto;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
}
article.selector{
	width: 300px;
	margin: 0 auto;
}
table{
	width: 400px;
	margin: 10px auto;
}
th{
	min-width: 40px;
	color: white;
	background-color: #04569F;
}
td a{
	color: black;
	text-decoration: none;
}

input[type="submit"], .boton{
	float: left;
	clear: both;
	width: 90px;
	color: white;
	border: 3px outset #4FC7E9;
	background-color: #04569F;
	padding: 2px;
	margin:10px 45%;
}
.boton {
	display: inline-block;
	text-align: center;
	text-decoration: none;
}
.login, .citas{
	float: left;
	margin: 5px;
}
label.login, label.citas{
	width: 40%;
	text-align: right;
	padding-top: 2px;
	clear: left;
}
input.login, input.citas{
	width: 25%;
	text-align: left;
	clear: right;
}
input.citas{
	width: 65%;
}
label.citas{
	width: 25%;
	margin: 2px;
}
.error{
	margin:10px;
	color: red;
	font-weight: bold;
	text-align: center;
}
.hora{
	text-align: center;
}
.medico{
	text-align: center;
	margin: 5px;
}
.medico .nombre{
	font-size: 1.1em;
	font-weight: bold;
}

/* Color de fondo de las citas ya atendidas */
.atendida{
	background-color: #7FFFD4;
}

/* La siguiente clase aplicada a cualquier elemento HTML 
   hace que éste no sea sensible a los eventos de raton.
*/
.inactivo{
    pointer-events: none;
    cursor: default;
}