{% extends "principal.html.twig" %}

{% block titulo %}Selección alumno.{% endblock %}

{% block contenido %}
    <h1>Consulta de notes</h1>
    <form action="" method="post">
        <div class="linea">
            <label>NIF:</label>
            <input type="text" name="nif" value="{{ nif }}" />
        </div>
        <input class="boton" type="submit" value="Consultar" />
    </form>
    <div class="error">{{ error }}</div>
{% endblock %}
