{% extends "principal.html.twig" %}

{% block titulo %}Consulta de notes{% endblock %}

{% block contenido %}
        <h1>Consulta de notes</h1>
           <div class="linea2">
             Alumno: {{ nif }} {{ alumno }}
           </div>
           <form action="" method="post">
              <!--<input type="hidden" name="nif" value="{{ nif }}"/>-->
              <ul>
              {% for codigo, nombre in modulos %} 
                 <li><input type="radio" name="modulo" onchange="this.form.submit()" 
                            value="{{ codigo }}" {{ (codigo == moduloSel) ? 'checked' : ' ' }} />
                      {{nombre}}
                 </li>
              {% endfor %}
              </ul>
           </form>
            <table><tr><th>Fecha</th><th>Nota</th></tr>
            {% for nota in notas %}
                   <tr><td>{{ nota.fecha }}</td><td>{{ nota.calificacion }}</td></tr>
            {% endfor %}
            </table>
           <a class="boton" href="cerrarSesion.php">Nueva Consulta</a>
{% endblock %}
