<!DOCTYPE HTML>
<html>

<head lang="es">
	<meta charset="utf-8">
	<title>Consulta de notas</title>
	<link rel="stylesheet" type="text/css" href="estilo.css" /> </head>

<body>
	<header> <img src="imagenes/logo_fleming.jpg" id="logo" />
		<div id="daw">Desenvolvimientu d'aplicaciones web</div>
	</header>
	<h1>Consulta de notes</h1> {%if error is not null and error is not empty%}
	<div class="error"> {{error}} </div> <a href="index.html">Hacer otra consulta</a> {% else %}
	<div id="central">
		<h2>{{alumno}}</h2>
		<h3>{{nombre_modulo}}</h3>
		<form action="control.php" method="post"> {% for key,value in modulos %}
			<input type="radio" name="modulo_seleccionado" value="{{value.COD_MODULO}}" {% if modulo_seleccionado==value.COD_MODULO %}checked {% endif %}>{{value.NOMBRE}}
			<br> {% endfor %}
			<input type="hidden" name="nif" value="{{nif}}">
			<input class="boton" type="submit" value="Consultar" /> </form>
		<div class="linea">
			<div class="resultado"> {% if calificaciones is not null and calificaciones is not empty %}
				<table>
					<tr>
						<th>Nota</th>
						<th>Fecha nota</th>
					</tr> {% for key,value in calificaciones %}
					<tr>
						<td>{{value.NOTA}}</td>
						<td>{{value.FECHA}}</td>
					</tr> {% endfor %} </table>{% endif %} </div>
		</div>
	</div> {%endif%} </body>

</html>