<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de modulos</title>
</head>
<body>
<h1>Lista de alumnos por módulo</h1>
<fieldset>
    <legend>Selección de módulo</legend>
    <ul>
    {%  for clave,modulo in modulos %}
        <li><a href="index.php?modulo={{ modulo.CODIGO }}">{{ modulo.NOMBRE }}</a></li>
    {% endfor %}
    </ul>
</fieldset>
<fieldset>
    <legend>{{ modulo }}</legend>

<ul>
    {%  for clave,alumno in alumnos %}
        <li>{{ alumno.NOMBRE }} {{ alumno.APE1 }} {{ alumno.APE2 }}</li>
    {% endfor %}
</ul>
</fieldset>
</body>
</html>