body {
	background: #C0D9D9  url(imagenes/bg.gif) repeat;
	font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 20px 0 20px 0;
	text-align: center;
}
#navegacion {
	margin-bottom: 20px;
}
#contenedor {
	width: 700px;
	min-height: 700px;
	text-align: left;
	background-color: #fff;
	margin: auto;
}
#cabecera {
	width: 70px;
	height: 106px;
}

#cabecera a{
	text-decoration: none;
}

#navegador {
	background-color:#F5F4C3;
	padding: 3px 10px 5px 10px;
	border-top: 1p solid #ccc;
	border-bottom: :1p solid #ccc;
}

a.enlacenav, a.enlacenav:visited, a.enlacenav:active, a.enlacenav:focus, a.enlacenav:link{
	color: #494E6B;
	text-decoration:none;
}

a.enlacenav:hover{
	color: #3F7DE3;
}

#cuerpo{
	width: 480px;
	margin-left: 8px;
	padding: 12px 0px 10px 0px;
	background-color: #fff;
	float: left;
}

h1{
	font-size: 12pt;
}

#navabajo{
	color: #4dae4d;
	font-weight: bold;
}

#navabajo a{
	text-decoration: none;
	color:#4dae4d;
}


#lateral{
	width: 200px;
	background-color: #EBF2FE;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	float:right;
}
#lateral a{
	color: #3C7DE4;
	text-decoration: none;
}

#lateral a:hover{
	text-decoration: underline;
}

.titlat{
	background-color: #68729E;
	color: #fff;
	font-size: 8pt;
	text-transform: uppercase;
	padding: 7px 3px 7px 8px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0px 0px 8px 0px;
}

.cuerpolateral{
	padding: 5px 4px 13px 10px;
}

input{
	font-size:8pt;
}

#fbuscar form{
	margin-bottom: 0px;
	margin-top: 0px;
}

#campotexto{
	float: left;
}

#campotexto input{
	width: 100px;
}

#botonbuscar{
	padding-top: 3px;
	padding-left: 106px;
}

#botonbuscar input{
	border: 0px none;
}

.radio{
	clear: both;
}

#otras ul{
	margin: 5px 10px 0px 0px;
	list-style: none;
}

#otras li{
	padding-left: 5px;
	margin-bottom: 10px;
	list-style-image: url(imagenes/star.gif);
}
