.hint {
    color: #999;
}

.current {
    color: red;
}

.hover {
    color: blue;
}

#contenedor #nav ul {
    margin: 0 0 20px 0;
    overflow: visible;
    height: 30px;
}

#nav li {
    float: left;
    padding: 15px;
    background-color: #333;
    margin: 0 5px 0 0;
    position: relative;
    height: 20px;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
}

#nav li.selected {
    background-color: red;
    font-weight: normal;
}

#nav li.hover {
    background-color: blue;
}

#nav li ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    display: none;
    margin: 0;
}

#nav li ul li {
    float: none;
    padding: 5px;
    border-bottom: 1px solid #fff;
    height: auto;
}

#nav a {
    color: #fff;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 5px;
}

table th {
    background-color: #ccc;
    font-weight: bold;
}