@CHARSET "UTF-8";
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #000;
	width: 900px;
	margin: 0 auto;
}
header {
	background-color: #F7FCF8;
	height:  70px;
	padding: 0 10px;
	border: 1px solid #B84136;
	margin: 10px 0;
}
footer {
	width: 100%;
	float: left;
	background-color: #B84136;
	color: yellow;
	text-align: center;
	padding: 5px 0;
}
h1 {
	font-size: 1.5em;
	text-align: center;
}
ul {
	list-style: none;
	width: 35%;
	margin: 10px auto; 
	padding: 5px;
}
li{
	margin: 5px 0;
}
table {
	margin: 5px auto;
}
th {
	color: white;
	background-color: #B84136;
}
td {
	border-bottom: 1px solid #B84136;
	text-align: center;
}
a {
	margin: 1px;
	font-family: arial;
	font-size: 11px;
	text-decoration: none;
	background-color: #E6E6E6;
	color: black;
	padding: 2px 10px;
	border: 1px outset gray;
	width: 100px;
	text-align: center;
}
#logo {
	height: 70px;
	display: block;
	float: left;
}
#daw{
	display: block;
	float: right;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #B84136;
	margin:30px;
	margin-right: 200px;
}

.linea {
	width: 23%;
	margin: 0 auto;
}
.linea2 {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.boton{
	display: block;
	margin: 10px auto; 
	clear: both;
}
.error{
	text-align: center;
	color: red;
}
html{
	 height: 100%;
	 background-color: white;
	 }