@CHARSET "UTF-8";
html {
	background-image: url("imagenes/informatica.jpg");
	background-size: cover;
}

body {
	font-family: arial, sans-serif;
	font-size: 12px;
	width: 900px;
	margin: 0 auto;
}

header {
	background-color: #F7FCF8;
	height: 70px;
	padding: 0 10px;
	border: 1px solid #B84136;
	margin: 10px 0;
	opacity: .7;
	border-radius: 10px;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	color: yellow;
}

label {
	float: left;
	margin-top: 5px;
}

#logo {
	height: 70px;
	display: block;
	float: left;
}

#daw {
	display: block;
	float: right;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #B84136;
	margin: 30px;
	margin-right: 200px;
}

#central {
	width: 50%;
	padding: 5px;
	margin: 10px auto;
	background-color: #F7FCF8;
	opacity: .8;
	border-radius: 10px;
}

#pie {
	width: 100%;
	position: absolute;
	bottom: 5px;
	left: 0;
	background-color: #B84136;
	color: yellow;
	text-align: center;
	padding: 5px 0;
	opacity: .7;
}

.linea {
	width: 50%;
	margin: 10px auto;
}

.valor {
	float: left;
	margin-left: 5px;
	margin-bottom: 10px;
}

.boton {
	display: block;
	margin: 10px auto;
	clear: both;
}

.resultado {
	text-align: center;
}

.error {
	text-align: center;
	color: red;
}